body{
    background: #F3F2F0;
}

nav{
    background: #FFFFFF;
}

.casa{
    border-bottom: solid 2px;
}

.networking{
    opacity: 0.5;
}

.jobs{
    opacity: 0.5;
}
.message{
    opacity: 0.5;
}

.notifications{
    opacity: 0.5;
}

.profile_text{
    opacity: 0.5;
}

.hamburger{
    opacity: 0.5;
}

.networking:hover{
    opacity: 1;
}

.jobs:hover{
    opacity: 1;
}

.message:hover{
    opacity: 1;
}

.hamburger:hover{
    opacity: 1;
}

.notifications:hover{
    opacity: 1;
}

.profile_text:hover{
    opacity: 1;
}

